.album-main-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.musics-results {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.musics-results .card-music {
  align-items: center;
  background-color: rgb(237, 180, 111);
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin: 10px auto;
  padding: 5px;
  width: 80%;
}

.musics-results .card-music h4 {
  max-height: 100%;
  overflow-y: hidden;
  width: 33%;
}

.heart {
  font-size: 35px;
}

.button-label button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
